/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.CodeMirror {
    font-size: .8em;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a80f5;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 28px;
   
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #b2b2b2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(32px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'';
 color: black;
 display: block;
 position: absolute;
 transform: translate(-20%,-50%);
 top: 50%;
 left: 50%;
 font-size: 16px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'';
  transform: translate(80%,-50%);
}

/*--------- END --------*/

.switch-container-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.switch-container {
  display: flex;
  align-items: center; /* Align items vertically */
  
}

.switch-label {
  color: black;
  font-size: 16px;
  margin-right: 5px; /* Adjust the margin as needed */
  margin-left: 5px; /* Adjust the margin as needed */
}

.video-container {
  position: relative;
  max-width: 100%;
  margin: 0.5em;
}

.overlay {
  position: absolute;
  top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  color: black;
  font-size: 16px;
}

.thumbnail-img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* IE8 */
}

.pill {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.active-pill {
  /* background-color: #b4b4b4; */
  /* Adjust the color as needed */
  font-weight: bold;
}

.nav-pills {
  cursor: pointer;
}

.center-pills {
  display: flex;
  justify-content: center;
}

.scene-pills > .active {
  background: #1772d0;
}

/* .mode-pills > .active {
  background: #1772d0;
} */

.button {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-style: inherit;
    font-weight: inherit;
    box-sizing: inherit;
    text-decoration: none;
    user-select: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 290486px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em);
  }

.button .icon {
      -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    font-size: 1rem;
    box-sizing: inherit;
    font-style: inherit;
    font-weight: inherit;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    margin-left: calc(-.5em - 1px);
    margin-right: .25em;
}


.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.publication-header .hero-body {
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
font-variant: small-caps;
}


.teaser .hero-body {
padding-top: 0;
padding-bottom: 3rem;
}

.teaser {
font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
max-height: parent;

}

.publication-banner video {
position: relative;
left: auto;
top: auto;
transform: none;
object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
 color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
display: inline-block;
}

.publication-banner img {
}

.publication-authors {
/*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {
}

/* .results-carousel {
overflow: hidden;
}

.results-carousel .item {
margin: 5px;
overflow: hidden;
border: 1px solid #bbb;
border-radius: 10px;
padding: 0;
font-size: 0;
}

.results-carousel video {
margin: 0;
}


.interpolation-panel {
background: #f5f5f5;
border-radius: 10px;
}

.interpolation-panel .interpolation-image {
width: 100%;
border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
margin: 0 !important;
}

.interpolation-panel .slider {
margin: 0 !important;
}

#interpolation-image-wrapper {
width: 100%;
}
#interpolation-image-wrapper img {
border-radius: 5px;
} */

.centered-content {
  text-align: center; /* Aligns inner content text center */
  display: flex;
  justify-content: center; /* Centers flex items horizontally */
  align-items: center; /* Centers flex items vertically (if needed) */
}

.row-top-aligned {
  display: flex;
  flex-wrap: wrap;  /* Allows multiple items to wrap in the row */
  align-items: flex-start;  /* Aligns items to the top of the container */
}

.column-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Aligns content inside each column to start from top */
  align-items: center;  /* Centers items horizontally inside the column */
  width: 100%;  /* Makes sure each column takes the full width of its container on smaller screens */
}

.tb-element {
  padding-left: 5px;
  vertical-align: middle; 
}

.tb-element.strong {
  font-weight: bold;
  color: red;
}